test/src/main/resources/META-INF/gxy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.guoxueyin.com/schema/gxy"
			xmlns:tns="http://www.guoxueyin.com/schema/gxy"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">

	<xsd:element name="gxy">
		<xsd:complexType>
			<xsd:attribute name = "userName" type="xsd:string"></xsd:attribute>
			<xsd:attribute name = "lovePerson" type="xsd:string"></xsd:attribute>
			<xsd:attribute name = "id" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
